:root {
--background-color: grey;
--title-background: rgba(49, 139, 180, 0.548);
--navbg: rgb(31, 31, 31);
--light: #fff;
--hover: lightblue;
}
body { 
  line-height: 1.2

}

* {

  font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
margin: 0;
  padding: 1%;
  background-color: var(--navbg);
  color: var(--light);
white-space: nowrap;
flex-wrap: wrap;



}


nav ul {
  display: flex;
  list-style: none;
  
}


nav a {
 
  color: var(--title-background);
  font-weight: bold;

margin: 6px

}


nav a:hover {
  color: var(--hover);
}


.maintitle {
  background-color: var(--title-background);



}

@media screen and (max-width: 600px) {
.maintitle {
 align-self: center;
}

 header {
  display: block;
 text-align: center;
 justify-content: center;
 }


}



.hero-banner {
  height: 175px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
 
}
.bannertext {
 
margin-top: 8.5rem;
  background-color: var(--title-background);
  display: inline-block;
  float: right;
  border: 6px;
}

.hero-banner .bannertext {

white-space: nowrap;
}


.asidew {
  position: absolute;
  margin-left: -7rem;
  margin-top: 7rem;
  text-align: right;
  
}

main {
margin-left: 15rem;

width: 80%;

}



.aboutwrap {
  display: flex;
}


.abouttext {

  margin-top: 7rem;
padding-left: 1rem ;
border-left: 3px solid black;


}

#worktitle {
  margin-top: 1.5rem;
  margin-left: -6.5rem
}
  

.workgrid {
  padding-left: 1rem ;
  border-left: 3px solid black;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "surfreport surfreport"
  "surfreport surfreport"
  "ledwall calculator" 
  "pastelpuzzles runbudy";
  grid-gap: 1.3rem;
  height: 70rem;
 
 
}



#surfreport {
  grid-area: surfreport;
  background-image: url(../images/project1.PNG);
  background-size: cover;
  background-position: center;
  border: 3px solid aqua;
}
#ledwall {

  grid-area: ledwall;
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid aqua;
}
#calculator {

  grid-area: calculator;
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid aqua;
  border: 3px solid aqua;}

#pastelpuzzles {

  grid-area: pastelpuzzles;
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  background-position: center;
  border: 3px solid aqua;
}
#runbudy {

  grid-area: runbudy;
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
  background-position: center;
}

.gridbox {
  background-color: rgba(252, 251, 251, 0.7);
  border-bottom: 4px solid #5a6aa0;
width: 12rem;
padding: .9rem;
height: 4.5rem;
line-height: 0px;
margin-top: 6rem;
align-items: center;
opacity: 80%;
}
#surfbox {
margin-top: 25rem;
}

.gridtitle {
  margin-top: 1rem
}

.gridsubtitle {
font-size: 80%;
  margin-top: 1.5rem;
 font-weight:500
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  
}
